.main {
  margin: auto;
  height: 100vh;
  display: flex;
  padding: 0em 1em;
  flex-direction: column;
  font-family: Arial, sans-serif;
  max-width: var(--max-width);
}

.AppHeader {
  padding: 1em 0em;
}

.Input {
  position: relative;
  padding-bottom: 1.5em;
}

.Input .HorizontalLine {
  height: 2px;
  width: 40%;
  background-color: rgb(247, 93, 247);

  /* position styling : bottom center*/
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  animation: shrink-grow 50s infinite;
}

@keyframes shrink-grow {
  from {
    width: 40%;
  }
  50% {
    width: 120%;
  }
}

.ItemsContainer {
  flex: 1;
  row-gap: 1.5em;
  display: flex;
  overflow-y: scroll;
  margin-top: 1.5em;
  padding-bottom: 4em;
  flex-direction: column;
}

.ItemsContainer::-webkit-scrollbar-track {
  background-color: transparent;
  margin-left: 0.2em;
}

.ItemsContainer::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.ItemsContainer::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(
    top,
    #e4f5fc 0%,
    rgb(116, 252, 182) 100%
  );
}

