.main {
  margin: auto;
  font-family: Arial, sans-serif;
  max-width: var(--max-width);
}

.AppHeader {
  padding: 1em 0em;
}

.Input {
  position: relative;
  padding-bottom: 1.5em;
}

.Input .HorizontalLine {
  height: 2px;
  width: 40%;
  background-color: rgb(247, 93, 247);

  /* position styling : bottom center*/
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  animation: shrink-grow 10s infinite;
}

@keyframes shrink-grow {
  from {
    width: 40%;
  }
  50% {
    width: 120%;
  }
}

.ItemsContainer {
  row-gap: 1.5em;
  display: flex;
  padding-top: 1.5em;
  flex-direction: column;
}
